
# Ignore data directory
data/

local.settings.json

# Common system files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.swp
*.swo