# Hauptabhängigkeiten
langchain
langchain-core
langchain-community
langchain_openai
langgraph
langchain-pymupdf4llm

# PDF-Verarbeitung
PyMuPDF

# Mathematische Berechnungen
numexpr

# Bildverarbeitung (für Bildanalyse in PDFs)
pillow
python-dotenv

# API
fastapi
python-multipart 
uvicorn

# API-Client
requests
azure-functions
azure-functions-python-asgi